<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educacion.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descEdu">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descEdu" name="descEdu" [(ngModel)]="educacion.descEdu" required>
                </div>
                <button class="btn btn-primary">
                    Editar educacion
                </button>
            </form>
        </div>
    </div>
</div>