<div class="row">
  <h1>Educacion<button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">Agregar Educacion</button></h1>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-11" >
      <ul *ngFor="let Educacion of educacion">
          <li>
              <h2>{{Educacion.nombreEdu}}</h2>
              <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}"*ngIf="isLogged">
              <i class="bi bi-pencil-fill"></i> EDITAR</button>
              <button class="btn btn-danger" (click)="delete(Educacion.id)"*ngIf="isLogged">
              <i class="bi bi-trash-fill"></i> BORRAR</button><br>
              <h2>{{Educacion.anioEdu}}</h2>
              <br>
              <h2>{{Educacion.lugarEdu}}</h2>
          </li><br>
          <li><p>{{Educacion.descEdu}}
          </p></li>
      </ul>
  </div>
</div>
