<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 parte1">
            <h2>Portfolio - Argentina Programa 2022</h2>
            <p class="parte2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat atque provident ullam officia non accusamus tempora, maiores dignissimos quo doloribus doloremque explicabo, repellendus, excepturi illo! Reprehenderit eligendi minima at accusamus.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 offset-lg-1 offset-md-1 offset-sm-1 parte3">
            <img src="../../../assets/capturaproyecto1.png" alt="Captura de pantalla del proyecto" class="img-fluid imagen-proyecto">
        </div>
    </div>
</div>