<div class="row">
    <h1>Hard&Soft Skills</h1>
    <br><br><br>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [title]="'HTML'"
            [radius]="60"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#000'"
            [innerStrokeColor]="'#001'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
</div>
