<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Item 1</h2>
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui odit molestiae quidem quibusdam repellat laboriosam officia ullam labore? Vero distinctio fuga pariatur porro suscipit culpa voluptates corrupti odio explicabo?
            </p>
            <li>
                <h2>Item 2</h2>
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui odit molestiae quidem quibusdam repellat laboriosam officia ullam labore? Vero distinctio fuga pariatur porro suscipit culpa voluptates corrupti odio explicabo?
            </p>
        </ul>
    </div>
</div>