<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo #ArgentinaPrograma" id="LogoAP" class="img-fluid">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Linkedin.png" alt="Linkedin" id="icon-linkedin"class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Twitter.png" alt="Twitter" id="icon-twitter"class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Twitch.png" alt="Twitch" id="icon-twitch"class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Telegram.png" alt="Telegram" id="icon-telegram"class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Whatsapp.png" alt="Whatsapp" id="icon-whatsapp"class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Github.png" alt="Github" id="icon-github" class="img-fluid iconosredes"></a>
            <a href=""><img src="../../../assets/Gmail.png" alt="Gmail" id="icon-gmail"class="img-fluid iconosredes"></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLoged">Acceder</button>
            <button type="button" class="btn btn-outline-dark" (click)="onLogOut()"*ngIf="isLoged">Salir</button>
        </div>
    </div>
</div>