<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona.img}}" alt="Foto de perfil" class="img-fluid" id="fotodeperfil">
        <div *ngIf="isLoged" style="align-items: center;">
            <button type="button" class="btn btn-primary" routerLink="/update/{{persona.id}}"><i class="bi bi-pencil-square"></i>Editar Perfil</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <p id="nombrecompleto">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <p id="about">{{persona.descripcion}}</p>
    </div>
</div>