<div class="row">
    <div>
        <div class="textito">
        PORTFOLIO WEB
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" alt="Foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <p id="nombrecompleto">Jonatan Nicolás Verbauwede</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <p id="about">ipsum dolor, sit amet consectetur adipisicing elit. Quia, harum, nihil, recusandae facilis ab repellat architecto voluptate ex dolorum cum eligendi ducimus excepturi totam laborum numquam? Et repellendus eaque fuga!</p>
    </div>

</div>