<div class="row">
    <div>
        <div class="textito">
        PORTFOLIO WEB
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" alt="Foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <p id="nombrecompleto">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <p id="about">{{persona.descripcion}}</p>
    </div>

</div>